# Prerequisites
# SConscript

# 平台移植层
# platform/linux/*
platform/FreeRTOS/*
# 暂时不放出来quecOpen不维护了
platform/quecOpen2/*

null
.vscode

# 忽略编译生成的文件
*.o
*.out
*.exe
*.map

# 忽略
core
*.lua
build
.xmake
todo.h
.vscode-ctags
*.dump
*.ignore


